.feed {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #333;  
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);  
  background-color: #222; 
  color: #eee; 
}

.feed-header {
  text-align: center;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #444; 
  border-radius: 10px;
  background-color: #333; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.post h3 {
  margin: 0;
  font-size: 18px;
  color: #eee;
  display: flex;
  align-items: center;
}

.post h3::before {
  content: '@';
  margin-right: 5px;
  color: #800080;
}

.post p {
  margin-top: 5px;
}

.post-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.mat-fab {
  background-color: #800080;
  color: #fff;
  margin-left: 10px;
}

.mat-fab:hover {
  background-color: #660066;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.post-header h3 {
  margin: 0;
  font-size: 18px;
  color: #eee; 
  display: flex;
  align-items: center;
}

.post-header h3::before {
  content: '@';
  margin-right: 5px;
  color: #800080;
}

.comment-container {
  padding: 10px;
  border-top: 1px solid #444; 
}

.comment {
  margin-bottom: 10px;
  border: 1px solid #444; 
  padding: 10px;
  border-radius: 5px;
  background-color: #333; 
}

.comment-header {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.comment-content {
  font-size: 14px;
  color: #ddd; 
}

.comment-input {
  width: 100%;
  margin-top: 10px;
  background-color: #444;
  color: #ddd;
}

.comment-input textarea {
  resize: none;
  background-color: #444; 
  color: #ddd;
  border: none;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #444;
}

.feed-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  cursor: pointer;
  margin-right: 10px;
}

.logout-button {
  display: block;
  width: 100%;
 
}
.logout-button-container {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  position: absolute;
  background-color: #222; 
}

